
<div class='blog-container'>
    <div class='blog-title-container'>
        <h4 class = 'blog-title' data-id="{{id}}">{{blog_title}}</h4>
        <h6 id='post-info' data-id="{{user_id}}">Posted by {{user.user_name}} on {{date_posted}}</h6>
    </div>
    <div class='blog-content'>
        <p data-id="{{id}}">{{blog_content}}</p>
    </div>
</div>

<div class='comments container'>
{{#each comments as |comment|}}
    <div class="comment-title-container">
        <h6>Posted by {{user.user_name}} on {{date_posted}}</h6>
    </div>
    <div class="comment-content">
        <p data-id="{{id}}">{{content}}</p>
    </div>
{{/each}}
</div>

<h5>Post a Comment Below!</h5>
<div class="comment-container">
    <div class="comment-title-container">
        <h6>Comment</h6>
        <textarea id="comment-content"></textarea>
        <button id="submit-btn">Submit</button>
    </div>
</div>



<script src="/js/comment.js"></script>