{{#each techBlogs as |blog|}}
<div class='blog-container'>
    <div class='blog-title-container'>
        <h4 data-id="{{id}}">{{blog_title}}</h4>
        <h6>Posted by {{user.user_name}} on {{date_posted}}</h6>
    </div>
    <div class='blog-content'>
        <p data-id="{{id}}">{{blog_content}}</p>
    </div>
</div>
{{/each}}

<footer>
    <button>+NEW POST</button>
</footer>

<script src="/js/dashboard.js"></script>